@import "tailwindcss";
@config "../tailwind.config.js";

html {
  font-family: theme(fontFamily.sans);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #171717;
  color: #f3f3f3;
}
